.cake-list-item {
  background-color : lavender;
  margin-bottom    : 1em;
  display          : flex;
  align-items      : center;
  height           : 4em;
  border-radius    : 0.5em;
}

.cake-list-item:hover {
  background-color : plum;
}

.cake-image {
  max-height : 4em;
  max-width  : 4em;
}

.cake-title, .cake-comment {
  color : darkslategray;
}

.cake-title {
  font-size : 1.5em;
}

.cake-comment {
  font-size : 1em;
}