.app {
  text-align : center;
}

.app-logo {
  height : 1.5em;
}

.app-title {
  font-size : 1.5em;
  padding-top: 15em;
}

.navbar-nav-underline-interaction {
  float: none;
}

.nav-button:hover {
  background-color: lavender;
  cursor: pointer;
}

